.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  
}

.leftside {
  display: flex;
  flex: 50%;
  justify-content: flex-start;
  align-items: center;
}
.rightside {
  display: flex; 
  flex: 50%;
  justify-content: flex-end;  
}



/* @media only screen and (max-width: 600px) {
  .rightside {
    display: none;
  }
} */
