.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  background: #000;
  font-size: 20px;
  padding: 60px 0;
  width: 100%;
}

.footer h3, .footer p {
  color: rgb(228, 226, 226);  
}

.footerDetails,
.footerLogo,
.footerLinks,
.footerIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex: 1;
  color: #8a8a8a;
}

.footerIcons ul li {
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}
.footerLinks ul li a {
  color: white;
}

.contact-info{
  display: flex;
  justify-content: center;  
  align-items: center;
}
.contact-info img{
  margin-right: 0.25rem;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: left;
}

@media only screen and (max-width: 1050px) {
  .footerLinks {
    display: none;
  }
}
