@font-face {
  font-family: 'wintersoulregular';
  src: url('./CSS/fonts/Wintersoul.ttf');
}
@font-face {
  font-family: 'Valkyrie';
  src: url('./CSS/fonts/Valkyrie-BoldExtended.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}
